main {
  align-items: center;
  background: linear-gradient(117deg, #3f3131 0%, #201a1a 100%);
  border-radius: 0.34vw;
  display: flex;
  flex-direction: column;
  gap: 1.11vw;
  height: 100vh;
  justify-content: space-around;
  padding: 1.11vw 0;
  width: 100vw;
}
.infoPanel {
  align-items: center;
  background-color: #121212;
  border-radius: 0.34vw;
  display: flex;
  height: 9.02vw;
  justify-content: space-between;
  padding: 0 1.11vw;
  width: 97.77vw;
}

.teamInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: inherit;
}

.teamInfo_logo {
  background-color: rgb(255, 255, 255);
  border-radius: 500vw;
  height: 5.55vw;
  max-height: 80px;
  max-width: 80px;
  width: 5.55vw;
}

.teamInfo_name {
  color: #fff;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.gameInfo {
  width: fit-content;
  height: fit-content;
}

.gameInfo_timer {
  align-items: center;
  background: linear-gradient(135deg, #121212 0%, #222 100%);
  color: #fff;
  display: flex;
  font-size: 2.5vw;
  font-style: normal;
  font-weight: 400;
  height: 82px;
  justify-content: center;
  line-height: normal;
  width: 166px;
}

.gameInfo_points_container{
  display: flex;
}

.gameInfo_points {
  align-items: center;
  background: linear-gradient(135deg, #121212 0%, #222 100%);
  color: #fff;
  display: flex;
  font-size: 1.5vw;
  font-style: normal;
  font-weight: 400;
  height: 47px;
  justify-content: center;
  line-height: normal;
  width: 83px;
}

.playersPanel {
  border-radius: 0.34vw;
  height: inherit;
  max-height: calc(100vh - 9.02vw - 7.6vw - 0.37vw * 4);
  width: 97.77vw;
  display: flex;
  justify-content: space-between;
}

.logPanel {
  align-items: center;
  background: #121212;
  border-radius: 0.37vw;
  display: flex;
  flex-shrink: 0;
  height: 7.6vw;
  justify-content: center;
  padding: 1.11vw;
  width: 97.77vw;
}
.teamPanel {
  border-radius: 0.37vw;
  display: flex;
  flex-direction: column;
  gap: 1.11vw;
  height: fit-content;
  max-height: 100%;
  overflow-y: auto;
  width: fit-content;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.teamPanel::-webkit-scrollbar {
  display: none;
}

.playerControlPanel {
  border-radius: 0.37vw;
  display: flex;
  height: auto;
  background: #121212;
  width: 48.33vw;
  padding: 0.55vw;
  justify-content: space-between;
  align-items: center;
  gap: 0.55vw;
  max-height: calc(96px + 1.11vw);
}

.playerControlPanel_statsCard {
  background: white;
  border-radius: 0.37vw;
  width: 4.37vw;
  height: 6.66vw;
  max-height: 96px;
  max-width: 64px;
}
.playerControlPanel_playerName {
  color: #fff;
  font-family: Poppins;
  font-size: 1.11vw;
  font-style: normal;
  font-weight: 400;
  height: 6.31vw;
  line-height: normal;
  max-height: 91px;
  max-width: 107px;
  text-transform: uppercase;
  width: 7.45vw;
}

@media screen and (min-width: 1440px) {
  .playerControlPanel_playerName {
    font-size: 16px;
  }
}
